@import "../../App.scss";


.table > tbody {
    border: 1px solid $gray-300;
}

.table > :not(:last-child) > :last-child > * {
    border: 1px solid $gray-300;
}

.table > :not(caption) > * > * {
    border-bottom: unset;
    border-top: 1px solid $gray-300;
}
