@import "~bootstrap/scss/bootstrap";

@import './button.scss';
@import './datagrid.scss';
@import './input.scss';

* {
    font-family: "Roboto";
}

figure {
    margin: unset;
}
img {
    width: 100%;
}