.title-container, .circular-bar-container, .title-section, .button-container {
    display: flex;
}

.title-container, .button-container {
    justify-content: space-between;
    align-items: center;
}

.title-section {
    align-items: center;
}

.region {
    margin-left: 15px;
}
.icon-button {
    display: flex;
    align-items: center;
}

.icon {
    max-width: 10px;
    max-height: 10px;
    margin: 0 5px;
    img {
        width: 100%;
        
    }
}

.button-container {
    margin-bottom: 20px;
}