// Holds all the colors used in the application

// Dell Standard Colors
// Primary
$blue-600: #0076CE;
$green-400: #6EA204;
$yellow-300: #F2AF00;
$orange-400: #EE6411;
$red-700: #CE1126;

// Secondary
$blue-50: #E7F2FB;
$blue-100: #D2E7F8;
$blue-450: #6BACDE;
$blue-700: #005DA4;
$blue-800: #00447C;

// GrayScale
$white: #FFFFFF;
$gray-100: #F7F7F7;
$gray-200: #EEEEEE;
$gray-300: #E4E4E4;
$gray-350: #DDDDDD;
$gray-400: #CCCCCC;
$gray-450: #BBBBBB;
$gray-500: #AAAAAA;
$gray-550: #888888;
$gray-600: #777777;
$gray-700: #666666;
$gray-800: #555555;
$gray-850: #444444;
$gray-900: #333333;
$gray-900-opacity: rgba(51, 51, 51, 0.45); // Actual is #333333. Applied 45% opacity

// Charting
$chartreuse: #C1D82F;
$teal: #42AEAF;
$coral: #D74324;
$berry: #B7295A;
$purple: #6E2585;

// Alert Background
$alert-blue-background: #EFF6FB;
$alert-green-background: #F0F5E5;
$alert-yellow-background: #FDF6E5;
$alert-orange-background: #FFECE1;
$alert-red-background: #EFF6FB;