@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-medium";
    src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-light";
    src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}


$roboto: "Roboto";
$roboto-medium: "Roboto-medium";
$roboto-light: "Roboto-light"